@charset "UTF-8";
.top-wapper {
  text-align: center;
  background-image: url("https://hideto7007.github.io/original_web_site/folder/sample5.jpeg");
  padding: 200px 10px 400px 10px;
  background-size: cover;
}

.theme h1 {
  text-align: center;
  font-size: 90px;
  color: blue;
  position: relative;
  bottom: 500px;
}

.category {
  list-style: none;
  padding-left: 460px;
  position: relative;
  bottom: 170px;
}

img {
  left: 290px;
  top: 650px;
  position: absolute;
  z-index: 7;
  width: 350px;
}

img.active {
  z-index: 20;
  display: block;
}

img.last-active {
  text-align: center;
  z-index: 8;
}

img.active1 {
  display: block;
}

/*レイアウト高さ調整*/
.text {
  height: 300px;
}

.text h2 {
  text-align: center;
  color: blue;
  padding-right: 370px;
  position: relative;
  bottom: 370px;
}

.text p {
  text-align: center;
  position: relative;
  right: 120px;
  bottom: 390px;
}

h4 {
  text-align: center;
}

a {
  display: list-item;
  padding: 0.2em;
}

.text h4 {
  color: blue;
  padding-left: 500px;
  position: relative;
  bottom: 330px;
  font-size: 120%;
  left: 14px;
}

.text h3 {
  text-align: center;
  padding-left: 560px;
  position: relative;
  bottom: 340px;
}

.text a {
  list-style: none;
  text-align: center;
  display: list-item;
  padding: 0.3em;
  padding-left: 460px;
  position: relative;
  bottom: 350px;
}

.image {
  width: 800px;
  position: relative;
  bottom: 920px;
  left: 90px;
}

.image1 {
  width: 800px;
  position: relative;
  bottom: 1100px;
  right: 120px;
}

.unordered_list {
  background-color: aquamarine;
  text-align: center;
  height: 250px;
}

h1 {
  padding-top: 40px;
}

h6 {
  position: relative;
  text-align: center;
}

a {
  text-align: center;
  padding: 0.2em;
  color: black;
}

/*スマホ向け*/
@media only screen and (max-width: 480px) {
  .top-wapper {
    text-align: center;
    background-image: url("https://hideto7007.github.io/original_web_site/folder/sample5.jpeg");
    padding: 200px 0px 0px 0px;
    background-size: cover;
  }
  .theme h1 {
    text-align: center;
    font-size: 180%;
    color: blue;
    position: relative;
    bottom: 200px;
  }
  .category {
    width: 40%;
    position: relative;
    left: 120px;
  }
  .category a {
    font-size: 5px;
    position: relative;
    right: 360px;
    top: 60px;
  }
  .category h4 {
    font-size: 14px;
    position: relative;
    right: 350px;
    top: 70px;
  }
  .text h2 {
    width: 100%;
    font-size: 12px;
    position: relative;
    bottom: 240px;
    right: 90px;
  }

  .text h3 {
    width: 50%;
    font-size: 13px;
    position: relative;
    bottom: 150px;
    right: 380px;
  }

  .text h4 {
    width: 50%;
    font-size: 14px;
    padding-left: 170px;
    position: relative;
    bottom: 140px;
  }
  
  .text p {
    width: 100%;
    font-size: 10px;
    bottom: 245px;
    right: 58px;
    height: 1px;
  }
  .text a {
    width: 40%;
    font-size: 10px;
    list-style: none;
    position: relative;
    bottom: 150px;
    right: 242px;
  }
  img {
    left: 20px;
    top: 230px;
    position: absolute;
    z-index: 7;
    width: 150px;
  }
  .image {
    width: 800px;
    position: relative;
    bottom: 480px;
    left: 50px;
  }
  .image1 {
    width: 800px;
    position: relative;
    bottom: 550px;
    right: 10px;
  }
  .unordered_list {
    background-color: aquamarine;
    text-align: center;
    height: 250px;
    position: relative;
    bottom: 90px;
  }
  h1 {
    padding-top: 40px;
    font-size: 25px;
  }
  h6 {
    position: relative;
    text-align: center;
  }
  a {
    text-align: center;
    padding: 0.2em;
    color: black;
  }
}



/*# sourceMappingURL=styl1.css.map */
